*{
  font-family: 'Menlo, Consolas, monospace';
}

/*DRY*/
.app{
  text-align: center;
}

.app-topbar{
  display: grid;
  text-align: center;
  color: aliceblue;
  align-items: center;
  background-color: #455a64;
  grid-template-columns: auto auto;
}

/*Publication card*/
.pub-publicacao{
  width:80%;
  height: 30%;
  background-color: aliceblue;
  color:grey;
  text-align: justify;
}

.pub-username{
  margin:0 5%;
  font-weight: bold;
  font-size: 20px;
  border-bottom: 1px grey solid;
}

.pub-tooltip{
  display: grid;
  grid-template-columns: auto auto;
}


/*DESKTOP*/
@media screen
and (min-width:1024px) {
  .App {
    width: 50%;
    margin-left: 25%;
  }
  
  .app-topbar{
    padding: 0 10%;
    column-gap: 80%;
    grid-template-columns: auto auto;
  }  

  /*Publication card*/
  .pub-publicacao{
    padding: 1%;
    border-radius: 5%;
    margin-left: 10%;
}

.pub-username{
    
}

.pub-tooltip{
    
}
  /*Writing css*/
  .writing-publicacao{
    width:80%;
    height: 30%;
    background-color: aliceblue;
    color:grey;
    text-align: justify;
    padding: 1%;
    border-radius: 5%;
    margin-left: 10%;
}

.writing-username{
    margin:0 5%;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 1px grey solid;
}

.writing-tooltip{
    display: grid;
    grid-template-columns: auto auto;
}  
}

/*TABLET*/
@media screen and (min-width:767px) and (max-width:1032px){
    
}

/*MOBILE*/
@media screen and (max-width:767px){
  .App {
    width: 100%;
  }

  .app-topbar{
    padding: 0 10%;
    column-gap: 60%;
  }   

  /*Publication card*/
  .pub-publicacao{
    padding: 2% 5%;
    border-radius: 5%;
    margin-left: 5%;
}

.pub-username{
   

}

.pub-tooltip{
    column-gap: 50%;
}

/*Writing css*/
.bar{
  background-color: rgba(228, 228, 227, 0.182);
  display: grid;
  grid-template-columns: 10% 20%;
   column-gap: 60%;
  padding: 0 5%;
  align-items: center;
}

.user{
  display: grid;
  grid-template-columns: 10% 25%;
  padding: 0 5%;
  align-items: center;
}
}