/*DESKTOP*/
@media screen
and (min-width:1024px) {
    .publicacao{
        width:80%;
        height: 30%;
        background-color: aliceblue;
        color:grey;
        text-align: justify;
        padding: 1%;
        border-radius: 5%;
        margin-left: 10%;
    }
    
    .username{
        margin:0 5%;
        font-weight: bold;
        font-size: 20px;
        border-bottom: 1px grey solid;
    }
    
    .tooltip{
        display: grid;
        grid-template-columns: auto auto;
    }  
}

/*TABLET*/
@media screen and (min-width:767px) and (max-width:1032px){
    
}

/*MOBILE*/
@media screen and (max-width:767px){
    .publicacao{
        width:80%;
        height: 30%;
        background-color: aliceblue;
        text-align: justify;
        padding: 2% 5%;
        border-radius: 5%;
        margin-left: 5%;
    }
    
    .username{
        margin:0 5%;
        font-weight: bold;
        font-size: 20px;
        border-bottom: 1px solid grey;

    }
    
    .tooltip{
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 50%;
    }
}